extends:
  airbnb-base

settings:
  ecmascript: 6

ecmaFeatures:
  destructuring: true
  classes: true
  forOf: true
  blockBindings: true
  arrowFunctions: true

env:
  browser: true

rules:
  indent: 2
  comma-dangle: 0
  no-unused-vars: 1
  no-undef: 1
  no-param-reassign: 1
  consistent-return: 0
